@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');


html {font-size: 16px;}
body {font-family: 'Lato', sans-serif; font-weight: 400;color: #fff;}
/*.container-fluid,.container {padding-right: 0;padding-left: 0;}*/
.navbar-fixed-top { margin: auto;}
/*.container {padding-right: 0;padding-left: 0;}*/
@media (min-width:480px) and (max-width: 767px){
  .container
   {width: 95%;}
}
h4 {line-height: 2rem;}
.h3 {font-size: 24px; color:rgba(200, 100, 0,1);text-shadow: 1px 1px 1px #000;}

/************************************ Ajustement sur le bar de navigation ************************************/

#menu nav {height:auto; padding-top: 10px; padding-bottom:10px;background-color:#555;}

/*menu: la couleur du bar de navigation*/
.navbar-default {background-color:transparent; border-color: transparent; }

/*menu: la couleur du fond du drop-down */
#menu ul li a{ height: auto; width: auto; padding-top:8px; padding-bottom: 8px;}
#menu ul li {margin: .5rem; }


/* menu: border du dropdown */
.navbar-default .navbar-collapse { border-color: #fff; }

/* menu: La couleur du texte de navigation */
.navbar-default .navbar-nav>li>a { display: inline-block; font-weight: 700;}
.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited
 { color: #fff; }
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
 { color: #fff; }

/*menu: l'option active*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover
{background-color: rgb(170,4,100); border: 1px solid #fff; color:#fff; -webkit-transition:background .3s ease-in-out; transition:background .3s ease-in-out;}

/*logo: le texte du logo à gauche*/
.navbar-brand{padding-top: .5rem;padding-bottom:.5rem;}
.navbar-default .navbar-brand:link,
.navbar-default .navbar-brand:visited,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active
 {color:#ff0080;font-weight: 900; text-shadow: 2px 2px 6px rgb(200,0,100),-2px 0px 6px rgb(200,0,100),0px -2px 6px rgb(200,0,100);font-weight: bold; font-size: 1.5rem;}


.inject-me { width: 50px; height: auto; fill:#ff0080; }
.navbar-header a {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-right: 8px;}
.navbar-header h3 {width: 300px; font-weight: 700; margin-bottom: 10px; margin-top: 18px;}

/* bouton: changer la couleur du fond */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent;}

/* bouton: le radius*/
/*.navbar-toggle {border-radius: 0;} */

/* bouton: la courleur des trois lignes au dessus*/
.navbar-default .navbar-toggle .icon-bar  {background-color:#fff;}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

.dropdown-menu>li>a {color:#fff;}
.dropdown-menu>li>a:hover {background-color: #fff; color:#555;}
.dropdown-menu {background-color: #555; border:0;}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {background-color: #555; color:#fff;}

#lang {background-color: rgba(255,128,128, .4); border-radius: 2px;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(255, 255, 255,.2);
  -moz-box-shadow:0px 0px 2px 1px rgba(255, 255, 255,.2);
  box-shadow:0px 0px 4px 1px rgba(200,0,100,.5);}
#lang a.selected  {background-color:#fff; color:#555;}
#lang img {width:auto; height:18px;}
#lang > a {padding-left: 8px; padding-right:8px; }

/************************************ Ajustement sur la section Quote ************************************/
#quote {/*background-color: #fff;*/ margin-top: 4.5rem;
}
#quote i {font-size: .8rem; color: rgb(255,128,128); }
#quote .btn-info {background-color: transparent;border: none;}
#quote blockquote{
    border-left:none;
    background-color:#fff;font-weight: 700;
}
#quote .quote-badge{
    background-color:#222;
    color: rgb(255,128,128);

}
#quote .quote-box{
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: rgb(164,70,164);
    margin-top: 25px;
    color:white;
    -webkit-box-shadow: 2px 2px 2px 2px #E0E0E0;
            box-shadow: 2px 2px 2px 2px #E0E0E0;
}
#quote hr {background-color: #fff; border: 0 none; color: #fff; height: 1px;}
#quote .quotation-mark{
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
}

#quote .quote-text{
    font-size: 1.2rem;
    margin-top: -65px;
}
#quote .author {font-size: 16px; }
#quote .inject-me_author {width: 30px; height: auto; fill:rgba(200,200,200,1);}
#quote .blog-post-actions p {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}

/************************************ Ajustement sur la section About ************************************/
hr {width:45px;  border-width: 2px; text-align: left;}
/*#about {background-color: #fff;}*/
#about .container {min-height:450px; height:auto;padding-left: 1.5rem; padding-bottom: 2rem;}
#about .container {color:#000;}
#about .container div h3 {font-weight: 300;}
#about .container img {float:right; width:auto; height:auto;border-radius: 50%; border:10px solid #555;margin-top: .5rem;text-align: center; padding: .1rem; }
@media (max-width: 448px)
{
    #about .container {
      /*display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: center; -ms-flex-align: center;*/
       align-items: center; padding-bottom: 2rem;}
    #about .container img{width: 70%;  }
}
@media (min-width: 449px) and (max-width:767px) {
    #about .container {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-bottom: 2rem;}
    #about .container img{width: 50%;  }
    #about .container div h3{line-height: 2rem; margin-top: 1.5rem; padding-top: 1rem;padding-bottom: 1rem; text-align: left;}
    #portfolio .thumbnail{display: inline-block;}
}
@media (min-width:768px) {
    #about .container {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
    #about .container div:first-child{min-width:75%;}
    #about .container img{max-width:25%; }
    #about .container div h3{line-height: 2rem; margin-top: .5rem; padding-top: 1rem;padding-bottom: 1rem;}
    #portfolio .thumbnail{display: block;}
}
hr {width:100%;}
#about .container div {padding: 10px;}


#about ul li > span { display:inline-block; line-height: 30px; background-color: rgba(255, 153, 0,1);
  -webkit-box-shadow: 10px 0px 0px 0px rgba(255, 153, 0,1), -15px 0px 0px 0px rgba(255, 153, 0,1);
  -moz-box-shadow: 10px 0px 0px 0px rgba(255, 153, 0,1), -15px 0px 0px 0px rgba(255, 153, 0,1);
  box-shadow: 10px 0px 0px 0px rgba(255, 153, 0,1) ,-15px 0px 0px 0px rgba(255, 153, 0,1);
}

#about {word-wrap: break-word;}
/************************************ Ajustement sur la section Portfolio ************************************/
#portfolio {background-color:#555; min-height: 724px;color:#515f67;padding-top: 3.5rem; padding-bottom:4rem; color:#555;}
#portfolio h2{ color: #fff; }
.fa {font-size: 16px; color: rgb(255, 153, 0);}
.fa-thumbs-up {color:rgb(255, 102, 255);}
a.thumbnail {border: 1px dashed #fff; border-radius: 0; -webkit-transition:border 1s ease-in-out; transition:border 1s ease-in-out; padding:.4rem;margin-bottom: 0; border-radius:.5rem;}
#portfolio .leftmargin {margin-left: -24px;}
.tab-content p {margin-bottom: 2rem;}
@media (max-width:767px) {
    #portfolio .thumbnail{display: inline-block;}
}
@media (min-width:768px) {
    #portfolio .thumbnail{display: block;}
}

#portfolio hr{border-color:#fff;}
#portfolio .row:first-child {margin-bottom: 3rem;}
#portfolio .panel {background-color: #fff; border:none; -webkit-box-shadow:-5px 5px 5px #444,5px 5px 5px #444; box-shadow:-5px 5px 5px #444,5px 5px 5px #444;}
.panel-default>.panel-heading {
    color: #000;
    background-color: rgb(50,50,50);
    border-color: #ddd;
}
.nav-tabs>li.active>a:link,
.nav-tabs>li.active>a:visited,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:active
{background-color: #555; color:#fff; border:none;}
.nav-tabs>li>a:link,
.nav-tabs>li>a:visited {background-color: transparent; color:#fff; border:none;}
.nav-tabs>li>a:hover,
.nav-tabs>li>a:active
{background-color: transparent; }
.nav-tabs {border-bottom: 1px solid #555;}
.glyphicon-apple {color: rgb(32,223,214);}
.glyphicon-tree-deciduous {color:yellow;}
.glyphicon-leaf {color: #00ff00;}
.glyphicon-wrench {color:rgb(250,0,0);}

/************************************ Ajustement sur la section Contact ************************************/

#contact .container{color:#000;display: -webkit-box;display: -ms-flexbox;display: flex;min-height: 10rem; }
@media (max-width:767px) {
    #contact .container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    #contact form {width: 100%; padding-top: 2rem; padding-bottom: 2rem;}
    #contact form ~ div {width:100%;padding-top: 2rem; padding-bottom: 2rem;}
    #contact .container:last-child div,
    #contact .container:last-child h3{ width:100%; line-height: 2.5rem;}
}

@media (min-width:768px) {
    #contact .container{
        padding:1.5rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    #contact form {width: 50%; padding: 2rem;}
    #contact form ~ div {width:50%;padding: 2rem; }
    #contact .container:last-child div,
    #contact .container:last-child h3{ width:50%; line-height: 2.5rem;}
}


.glyphicon-earphone {color:rgb(164,70,164);text-shadow: 2px 2px 5px #222;}

#contact h2 {color: rgb(164,70,164); margin-top: 0;}
#contact hr {background-color: #ccc; border: 0 none; color: #ccc; height: 1px;}

#contact h4 {color:#000; }
.form-control { background-color: rgba(164,70,164,0.1); }
#contact form button {background-color:rgba(164,70,164,1); border: solid 2px rgba(164,70,164,1);font-weight: bold; color: #fff; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
#contact form button:hover {background-color: #fff; color:rgb(170,4,100);; }

.form-control:focus {-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -webkit-box-shadow: -2px 2px 4px rgba(100,100,100,.5),2px 2px 4px rgba(100,100,100,.5),0px -2px 4px rgba(100,100,100,1);
          box-shadow: -2px 2px 4px rgba(100,100,100,.5),2px 2px 4px rgba(100,100,100,.5),0px -2px 4px rgba(100,100,100,1);border-color: rgba(164,70,164,.5);}

#error {color: red; padding-bottom: 1rem; font-weight: 700;}

#contact .container:last-child h3,
#contact .container:last-child div
{padding:0 2rem 1rem;}

#contact h4 {margin-bottom: 1rem;}
#contact h3 {font-weight: 300;}
#contact ul {padding: 0;}
#contact ul li {display: inline-block; text-align: left; text-decoration: none;margin:.5rem;}
#contact .fa {
    font-size: 2rem;
    color: rgb(170,4,100);
    text-align: center;
    vertical-align: middle;
}
@media (max-width: 420px) {
    #contact .fa {
    font-size: 1.5rem;}
    #contact ul li a:link,
#contact ul li a:visited {    width: 2.5rem;
    height: 2.5rem;line-height: 2.5rem;}
}
@media (min-width: 421px) {
    #contact .fa {
    font-size: 2rem;}
    #contact ul li a:link,
#contact ul li a:visited {    width: 3.2rem;
    height: 3.2rem;line-height: 3.2rem;}
}
#contact ul li a:link,
#contact ul li a:visited {
    display: inline-block;
    border: 1px solid rgb(170,4,100);
    text-decoration: none;

    -webkit-transition: color .5s ease-in-out;

    transition: color .5s ease-in-out;
}

#contact ul li a:hover,
#contact ul li a:active {background-color:rgb(170,4,100);color:#fff; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}

/************************************ Ajustement sur la section footer ************************************/
footer {background-color:#555;}
footer div { min-height:3rem; line-height:1.5rem; vertical-align: middle; padding-top: 1.2rem; padding-bottom: 1.2rem;}
